@import url("../css/common.css");
@import url("../css/reset.css");

.board_wrap {
  position: relative;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.board-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  padding: 20px 40px;
  margin: 0 0 30px;
}

.board-search-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.board-search-info div {
  font-size: 16px;
  color: #525252;
}

.board-search-info span {
  font-size: 14px;
  color: #0763c0;
}

.board_search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.board-search select {
  margin: 0;
  height: 42px;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid #bdbdbd;
  color: #8a8a8a;
  border-radius: 5px;
}

.board-search input {
  margin: 0;
  height: 42px;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid #bdbdbd;
  color: #8a8a8a;
  border-radius: 5px;
}

.board .iCheck {
  width: 15px;
  height: 15px;
  margin: 0;
  vertical-align: middle;
}

.board .iCheck+label {
  vertical-align: middle;
  font-size: 15px;
}

.board .iText {
  position: relative;
  height: 42px;
  padding: 5px;
  border-radius: 5px;
  line-height: 42px;
  border: 1px solid #bdbdbd;
  background: #fff;
  font-size: 17px;
  width: 300px;
}

.btn.search {
  color: #fff !important;
  width: 42px;
  height: 42px !important;
  border-radius: 5px !important;
  font-size: 18px !important;
  margin-left: 5px;
  text-align: center;
  background-color: #3D3D3D;
  border: none;
}

.btn.search:hover {
  background-color: #fdd22b;
}

.board .btn i {
  width: 24px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.06);
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin-left: -12px;
  margin-right: 4px;
  text-align: center;
  padding-left: 2px;
  border-radius: 2px 0 0 2px;
}

.board_list div {
  display: flex;
}

.board_top {
  font-weight: bold;
  border-top: 2px solid #000000;
  height: 55px;
  align-items: center;
  background: rgba(240, 240, 240, 0.808);
}

.board_top div {
  justify-content: center;
}

.board_content {
  height: 45px;
  align-items: center;
  border-bottom: 1px solid #dddddd75;
}

.board_content:hover {
  background-color: #fff4d4;
  color: #000000;
  font-weight: bold;
}

.board_content .num,
.writer,
.date,
.count,
.answer {
  justify-content: center;
}

.board_list .num {
  width: 10%;
}

.board_list .title {
  width: 45%;
}

.board_list .title>a {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board_list .writer {
  width: 20%;
}

.board_list .date {
  width: 20%;
}

.board_list .count {
  width: 15%;
}