/* 목록 page 공통 CSS */
.board_page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.board_page a {
  margin: 0 3px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
}

.board_page a.bt {
  padding-top: 7px;
}

.board_page a.num {
  padding-top: 6px;
}

/* Page Button Click Mouse hover */
.board_page a.bt:hover,
.board_page a.num:hover {
  color: #fdd22b;
}

/* fotter */
#footer {
  background: #1e2029;
  width: 100%;
  margin-top: 10%;
  padding: 20px 0;
  display: flex;
}

.footer_info {
  padding-left: 20px;
}

.footer_info p {
  text-align: start;
}

.footer_term {
  display: flex;
  text-align: start;
}

.footer_term p {
  margin-left: 30px;
}

.bar {
  margin-right: 20px;
  color: rgb(255, 255, 255);
}
