/* 목록 page 공통 css */
.board_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board_page a {
  margin: 0 3px;
  width: 26px;
  height: 26px;
}

.board_page a.bt {
  padding-top: 7px;
}

.board_page a.bt.first {
  background: url("../images/icon/prev-first.png") no-repeat center / 10px 12px;
  background-size: 100%;
}

.board_page a.num {
  padding-top: 6px;
}

.board_page a.bt.last {
  background: url("../images/icon/next-last.png") no-repeat center / 10px 12px;
  background-size: 100%;
}
