/* 목록 page 공통 CSS */
.board_page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.board_page a {
  margin: 0 3px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
}

.board_page a.bt {
  padding-top: 7px;
}

.board_page a.num {
  padding-top: 6px;
}

/* Page Button Click Mouse hover */
.board_page a.bt:hover,
.board_page a.num:hover {
  color: #fdd22b;
}

/* fotter */
#footer {
  background: #1e2029;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.footer_wrap {
  width: 100%;
  margin: auto;
  padding-bottom: 30px;
}

.footer_bottom_cont1,
.footer_bottom_cont2 {
  display: flex;
}

.bar {
  margin-right: 20px;
  color: #fff;
}
