.wrap {
    min-width: 1024px;
    margin: auto;
}

main {
    position: relative; 
    margin: auto;   
    padding: 0 5%;    
    top: 101px;
}

/* 대제목- 컴포즈커피sns */
.compose_sns h2 { 
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;   
}


/* slick */
.slider {
    width: 100%;    
  }
  .slick-prev:before, .slick-next:before {
    color: #444444;
  }


/* sns슬라이드 */
.compose_sns {       
    position: relative; 
}

.compose_sns .slider div {               
    text-align: center;       
}

.compose_sns .slider div img {
    width: 95%;    
    border-radius: 7%;   
    position: relative; 
    margin: auto;
}

/* sns 인스타버튼 */
.compose_sns .slider div img:last-child {
    display: block;
    width: 20%;
    position: relative;
    margin: auto;
    top: -25px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0 #00000083;
   }

/* sns이전다음버튼 */
/* 슬라이더 페이지 버튼 */
.main-bn > .slider > .page-btns {
    position:absolute;
    left:680px;
    bottom:305px;
}

.main-bn > .slider > .page-btns > .page-btn {
    color:#fff;
    display:inline-block;
    cursor:pointer;
}

.main-bn > .slider > .page-btns > .next-btn {
    margin-left:60px;
}

.main-bn > .slider > .page-btns > .page-btn > i {
    display:block;
    font-size:20px;
}

/* 슬라이더 페이지 번호 */

