.wrap {
    min-width: 1024px;
    margin: auto;
}

.main {
    position: relative;   
    top: 101px;
}

/* 대제목- 컴포즈커피sns */
.compose_sns h2 { 
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
   
}

/* slick */






/* sns슬라이드 */
.compose_sns {
    width: 80%;   
    margin: auto;   
    position: relative; 
}

.sns_mask {           
    width: 100%;    
    overflow: hidden;    
  }

.slide_wrap{
    width: 300%; /*ul3개 flex 묶여있음. 간격조절 width*/   
    display: flex;       
    justify-content: space-between;
}

.slide_wrap ul{          
    width: 100%;     
    display: flex;       
    justify-content: space-between;   
    
}

.compose_sns li {  
    width: 23.5%;           
    text-align: center;       
}

.compose_sns li img {
    width: 100%;
    border-radius: 7%;
    
}

/* sns 인스타버튼 */
.slide_wrap  ul  li  a  img:last-child {
    display: block;
    width: 20%;
    position: relative;
    margin: auto;
    bottom: 8%;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0 #00000083;
}

/* sns이전다음버튼 */
.prev_next {
    position: absolute;
    top: 10px;
    right: 0;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.prev {
    width: 30px;
    height: 30px;
    background: url(../image/arrowL.png) no-repeat left/10px;
    text-indent: -9999px;
    background: #686868;
}

.next {
    width: 30px;
    height: 30px;
    background: url(../image/arrowR.png) no-repeat right/10px;
    text-indent: -9999px;
    background: #686868;
}