@import url("../css/common.css");
@import url("../css/reset.css");

.customer_title p {
    width: 565px;
    margin: auto;
    text-align: center;

}

.customer_title {
    margin: 70px 0;
}

.customer_title dl {
    width: 535px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: baseline;
    font-size: 14px;
}

.customer_title dt {
    font-weight: bold;
}

.customer_title img {
    padding-bottom: 4px;
    vertical-align: middle;
}

.customer_title dd:before {
    content: "";
    display: block;
    clear: both;
    position: relative;
    left: -15px;
    top: 15px;
    width: 4px;
    height: 4px;
    background: #bbbbbb;
    border-radius: 2px;
}

.customer_notice {
    margin-left: 55px;
}

.customer_board_wrap {
    margin: auto;
    padding: 0 0 50px;
    text-align: center;
}

.customer_board_list div {
    display: flex;
}

.customer_top {
    font-weight: bold;
    border-top: 2px solid #000000;
    height: 55px;
    align-items: center;
    background: rgba(240, 240, 240, 0.808)
}

.customer_top div {
    justify-content: center;
}

form {
    margin: auto;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 50px auto;
    text-align: center;
}

.join_wrap {
    width: 565px;
    margin: auto;
}

.join_wrap fieldset {
    border: none;
}

.join_wrap .title {
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-bottom: 20px;
}

.join_wrap>form>fieldset>div {
    margin-bottom: 30px;
}

.join_wrap label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.join_wrap input {
    font-size: 15px;
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    padding-left: 15px;
    box-sizing: border-box;

}

::placeholder {
    color: #989898;
    font-size: 15px;
}

.password_ment {
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.password_ment img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    position: relative;
    bottom: 1px;
}

.radio_box {
    display: flex;
}

.radio input[type="radio"] {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
}

.radio input[type="radio"]+label {
    display: inline-block;
    padding-left: 30px;
    margin-right: 45px;
    font-weight: 400;
    line-height: 23px;
}

.textarea {
    font-size: 15px;
    color: #989898;
    width: 100%;
    height: 240px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    resize: none;

}

.red_text {
    color: #f15757;
    font-weight: bold;
}

.red_text_r {
    color: #f15757;
    font-weight: bold;
    padding-left: 3px;
}

.gray_text {
    color: #989898;
    font-weight: bold;

}

.join_wrap .terms_box {
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    padding: 25px 0 50px;
    box-sizing: border-box;

}

.terms_box label {

    display: flex;
    align-items: center;
    cursor: pointer;
}

.terms_box input[type="checkbox"].all_agree {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    content: '';
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #fff url(../images/icon/icon_check_gray.svg) center/13px no-repeat;
}

.terms_box input[type="checkbox"].all_agree:checked {
    background: #fdd22b url(../images/icon/icon_check_white.svg) center/13px no-repeat;
    border: none;
}

.join_wrap input[type="submit"] {
    font-size: 15px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0px 0 100px;
}