@import url("../css/common.css");
@import url("../css/reset.css");

.join_wrap {
    width: 100%;
    margin: auto;
}

.join_wrap fieldset {
    border: none;
}

.join_wrap .title {
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-bottom: 20px;
}

.join_wrap>form>fieldset>div {
    margin-bottom: 25px;
}

.join_wrap label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.join_wrap input {
    font-size: 15px;
    border: 1px solid #ddd;
    width: 450px;
    height: 50px;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
}

::placeholder {
    color: #bbbbbbd5;
    font-size: 15px;
}

#charLimitMessage {
    font-size: 13px;
    color: rgb(245, 39, 24);
    display: none;
    text-align: left;
    padding-left: 13px;
}

.join_wrap .select_box {
    color: #bbbbbbd5;
    appearance: none;
    display: inline-block;
    max-width: 100%;
    min-width: 110px;
    padding: 0 55px 0 20px;
    height: 50px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: url(../images/icon/icon_arrow_down.png) no-repeat right center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.join_wrap .select_box option {
    color: black;
}

.join_wrap .select_box.valid {
    color: black;
}

.join_wrap .terms_box {
    width: 450px;
    font-size: 15px;
    border: 1px solid #ddd;
    width: 450px;
    border-radius: 5px;
    padding: 25px;
    box-sizing: border-box;
}

.terms_box label {
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.terms_box input[type="checkbox"].required {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    content: '';
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: none;
    background: #fff url(../images/icon/icon_check_gray.svg) center/18px no-repeat;
}

.terms_box input[type="checkbox"].required:checked {
    background: #fff url(../images/icon/icon_check_yellow.svg) center/18px no-repeat;
}

.terms_box input[type="checkbox"].all_agree {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    content: '';
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #fff url(../images/icon/icon_check_gray.svg) center/13px no-repeat;
}

.terms_box input[type="checkbox"].all_agree:checked {
    background: #fdd22b url(../images/icon/icon_check_white.svg) center/13px no-repeat;
}

.terms_box input[type="checkbox"].marketing_agree {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    content: '';
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: none;
    background: #fff url(../images/icon/icon_check_gray.svg) center/18px no-repeat;
}

.terms_box input[type="checkbox"].marketing_agree:checked {
    background: #fff url(../images/icon/icon_check_yellow.svg) center/18px no-repeat;
}

.marketing_agree_tip {
    margin-left: 37px;
    color: #f15757;
}

.terms_box input[type="checkbox"].marketing_choose {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    content: '';
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #fff url(../images/icon/icon_check_gray.svg) center/13px no-repeat;
}

.terms_box input[type="checkbox"].marketing_choose:checked {
    background: #fdd22b url(../images/icon/icon_check_white.svg) center/13px no-repeat;
}