@import url("../css/common.css");
@import url("../css/reset.css");


/* slick */
.slider {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #444444;
}

/* SNS slide */
.compose_sns {
  position: relative;
}

.compose_sns .slider div {
  text-align: center;
}

.compose_sns .slider div img {
  width: 95%;
  border-radius: 7%;
  position: relative;
  margin: auto;
}

/* SNS Instagram Button */
.compose_sns .slider div img:last-child {
  display: block;
  width: 20%;
  position: relative;
  margin: auto;
  top: -25px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0 #00000083;
}

/* SNS Previous and Next Button */
/* Slider Page Button */
.main-bn > .slider > .page-btns {
  position: absolute;
  left: 680px;
  bottom: 305px;
}

.main-bn > .slider > .page-btns > .page-btn {
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.main-bn > .slider > .page-btns > .next-btn {
  margin-left: 60px;
}

.main-bn > .slider > .page-btns > .page-btn > i {
  display: block;
  font-size: 20px;
}

/* Slider Page Number */
/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/icon/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"),
    url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: rgb(35, 29, 29);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  top: 110px;
  left: -25px;
}

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/util/join_icon.svg);
  background-size: cover;
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  top: 110px;
  right: -25px;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/util/join_icon.svg);
  background-size: cover;
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* 문희-프랜차이즈 info */
.franchise_wrap {
  max-width: 1000px;
  text-align: center;
  padding: 5% 0;
  margin: auto;
}

.interview_bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/franchise/yellow_bg-03.svg);
  opacity: 0.05;
  height: 48%;
  z-index: -3;
}

.interview_wrap {
  min-width: 800px;
  margin: 50px 0 100px;
}

.interview_l {
  position: relative;
  width: 100%;
  height: 320px;
  margin-bottom: 30px;
}

.bubble_l_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.bubble_l_wrap p {
  position: absolute;
  padding: 0 5%;
  box-sizing: border-box;
  width: 75%;
  max-width: 90%;
}

.bubble_l_wrap > img {
  width: 75%;
}

.bubble_l_wrap span {
  width: 100%;
  height: 45px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(../images/logo/compose_logo_emblem_b.svg) right 0/25px no-repeat;
  padding: 0 1% 15px 0;
  box-sizing: border-box;
}

.interview_l .store {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 230px;
  height: 230px;
  overflow: hidden;
  border-radius: 110px;
}

.interview_l .store img {
  width: 105%;
}

.interview_r {
  position: relative;
  width: 100%;
  height: 320px;
  margin-bottom: 30px;
}

.bubble_r_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bubble_r_wrap p {
  position: absolute;
  padding: 0 5%;
  box-sizing: border-box;
  width: 75%;
  max-width: 90%;
}

.bubble_r_wrap > img {
  width: 75%;
}

.bubble_r_wrap span {
  width: 100%;
  height: 45px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(../images/logo/compose_logo_emblem_b.svg) right 0/25px no-repeat;
  padding: 0 1% 15px 0;
  box-sizing: border-box;
}

.interview_r .store {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 215px;
  height: 215px;
  border-radius: 20px;
  overflow: hidden;
}

.interview_r .store img {
  width: 110%;
}

.franchise_step {
  margin-top: 5%;
}

.franchise_step_card {
  min-width: 670px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.franchise_step_card dl {
  width: 25%;
  height: 260px;
  margin-bottom: 5%;
  border-radius: 0 40px 40px;
  padding: 20px;
  background: rgba(232, 232, 232, 0.358);
}
.franchise_step_card dl:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 260px;
}
.franchise_step_card dt span {
  display: block;
  color: #fff;
  font-size: 25px;
  background: #fdd22b;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  line-height: 40px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.franchise_step_card dt {
  font-size: 20px;
  margin-bottom: 15px;
}

.franchise_step_card dl:last-child dt {
  font-size: 20px;
  font-weight: bold;
}

.franchise_step_card dd {
  font-size: 13px;
  padding-left: 10%;
  text-align: left;
}
.franchise_step_card dd::before {
  content: "";
  display: block;
  clear: both;
  position: relative;
  left: -15px;
  top: 15px;
  width: 4px;
  height: 4px;
  background: #bbbbbb;
  border-radius: 2px;
}

.franchise_step_card img {
  display: block;
  margin: auto;
  margin-top: 5px;
}
.franchise_step_card dl:last-child img {
  margin-top: 10px;
  width: 100%;
}
.franchise_condition {
  margin-top: 5%;
}
.franchise_condition dl {
  width: 510px;
  display: flex;
  align-items: baseline;
}
.franchise_condition dt {
  font-weight: bold;
}
.franchise_condition dt:before {
  content: "";
  display: block;
  clear: both;
  position: relative;
  left: -15px;
  top: 15px;
  width: 4px;
  height: 4px;
  background: #bbbbbb;
  border-radius: 2px;
}

.franchise_condition dd {
  margin-left: 20px;
}
.franchise_condition p {
  font-size: 13px;
  margin-top: 20px;
}
.franchise_condition img {
  padding: 0 5px 5px 0;
  vertical-align: middle;
}

.franchise_condition_bg {
  background: #fdd32b1b;
  padding: 3% 5%;
  max-width: 1000px;
  margin: auto;
}

button {
  font-weight: bold;
  font-size: 15px;
  margin: auto;
  margin-top: 50px;
  border: none;
  width: 140px;
  height: 50px;
  background: #fdd22b;
  cursor: pointer;
}

/* 문희-프랜차이즈 info  !!end!!*/

/* 문희-회원가입 */
.join_wrap {
  width: 100%;
  margin: auto;
}
.join_wrap fieldset {
  border: none;
}
.join_wrap .title {
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-bottom: 20px;
}
.join_wrap > form > fieldset > div {
  margin-bottom: 25px;
}
.join_wrap label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.join_wrap input {
  font-size: 15px;
  border: 1px solid #ddd;
  width: 450px;
  height: 50px;
  border-radius: 5px;
  padding-left: 15px;
  box-sizing: border-box;
}
::placeholder {
  color: #bbbbbbd5;
  font-size: 15px;
}
#charLimitMessage {
  font-size: 13px;
  color: rgb(245, 39, 24);
  display: none;
  text-align: left;
  padding-left: 13px;
}

.join_wrap .select_box {
  color: #bbbbbbd5;
  appearance: none;
  display: inline-block;
  max-width: 100%;
  min-width: 110px;
  padding: 0 55px 0 20px;
  height: 50px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: url(../images/icon/icon_arrow_down.png) no-repeat right center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.join_wrap .select_box option{
  color: black;
}

.join_wrap .select_box.valid {
  color: black;
}
.join_wrap .terms_box{
  width: 450px;
  font-size: 15px;
  border: 1px solid #ddd;
  width: 450px;  
  border-radius: 5px;
  padding: 25px;
  box-sizing: border-box;  
}
.terms_box label{
  font-weight:400;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.terms_box input[type="checkbox"].required{ 
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  content: '';
  width: 25px;
  height: 25px;  
  margin-right: 10px;
  border: none;
  background: #fff url(../images/icon/icon_check_gray.svg) center/18px no-repeat;
}
.terms_box input[type="checkbox"].required:checked{    
  background: #fff url(../images/icon/icon_check_yellow.svg) center/18px no-repeat;
}

.terms_box input[type="checkbox"].all_agree{ 
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  content: '';
  width: 25px;
  height: 25px;  
  margin-right: 10px;
  
  background: #fff url(../images/icon/icon_check_gray.svg) center/15px no-repeat;
}
.terms_box input[type="checkbox"].all_agree:checked{    
  background: #fff url(../images/icon/icon_check_yellow.svg) center/15px no-repeat;
}

.terms_box input[type="checkbox"].marketing_agree{ 
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  content: '';
  width: 25px;
  height: 25px;  
  margin-right: 10px;
  border: none;
  background: #fff url(../images/icon/icon_check_gray.svg) center/18px no-repeat;
}
.terms_box input[type="checkbox"].marketing_agree:checked{    
  background: #fff url(../images/icon/icon_check_yellow.svg) center/18px no-repeat;
}

.


