@import url("../css/common.css");
@import url("../css/reset.css");

/* franchise */
.franchise_wrap {
  text-align: center;
}

.franchise_wrap h2 {
  font-size: 35px;
  font-weight: bold;
}

.franchise_interview {
  /* background-color: #fffdf4; */
  padding: 5% 15%;
  background: url(../images/franchise/bg/bg_compose_pettern.svg);
  background-size: 50% cover;
  background-attachment: fixed;
  z-index: -3;
}

.interview_wrap {
  margin: 50px 0 100px;
}

.interview_l {
  position: relative;
  max-width: 1000px;
  height: 320px;
  margin: 0 auto 30px;
}

.bubble_l_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.bubble_l_wrap p {
  position: absolute;
  padding: 0 5%;
  box-sizing: border-box;
  width: 75%;
  max-width: 90%;
  word-break: keep-all;
}

.bubble_l_wrap>img {
  width: 75%;
}

.bubble_l_wrap span {
  width: 100%;
  height: 45px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(../images/logo/compose_logo_emblem_b.svg) right 0/25px no-repeat;
  padding: 0 1% 15px 0;
  box-sizing: border-box;
}

.interview_l .store {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 110px;
  z-index: -1;
}

.interview_l .store img {
  width: 105%;
}

.interview_r {
  position: relative;
  max-width: 1000px;
  height: 320px;
  margin: 0 auto 30px;
}

.bubble_r_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bubble_r_wrap p {
  position: absolute;
  padding: 0 5%;
  box-sizing: border-box;
  width: 75%;
  max-width: 90%;
}

.bubble_r_wrap>img {
  width: 75%;
}

.bubble_r_wrap span {
  width: 100%;
  height: 45px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(../images/logo/compose_logo_emblem_b.svg) right 0/25px no-repeat;
  padding: 0 1% 15px 0;
  box-sizing: border-box;
}

.interview_r .store {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  z-index: -1;
}

.interview_r .store img {
  width: 110%;
}

.franchise_step {
  max-width: 1000px;
  margin: 5% auto 0;
}

.franchise_step_card {
  min-width: 670px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.franchise_step_card dl {
  width: 25%;
  height: 260px;
  margin-bottom: 5%;
  border-radius: 0 40px 40px;
  padding: 20px;
  background: rgba(232, 232, 232, 0.358);
}

.franchise_step_card dl:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 260px;
}

.franchise_step_card dt span {
  display: block;
  color: #fff;
  font-size: 25px;
  background: #fdd22b;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  line-height: 40px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.franchise_step_card dt {
  font-size: 20px;
  margin-bottom: 15px;
}

.franchise_step_card dl:last-child dt {
  font-size: 20px;
  font-weight: bold;
}

.franchise_step_card dd {
  font-size: 14px;
  line-height: 20px;
  padding-left: 10%;
  text-align: left;
}

.franchise_step_card dd::before {
  content: "";
  display: block;
  clear: both;
  position: relative;
  left: -12px;
  top: 11px;
  width: 4px;
  height: 4px;
  background: #bbbbbb;
  border-radius: 2px;
}

.franchise_step_card img {
  display: block;
  margin: auto;
  margin-top: 5px;
}

.franchise_step_card dl:last-child img {
  margin-top: 10px;
  width: 100%;
}

.franchise_condition {
  margin-top: 5%;
}

.franchise_condition dl {
  width: 510px;
  display: flex;
  align-items: baseline;
}

.franchise_condition dt {
  font-weight: bold;
}

.franchise_condition dt:before {
  content: "";
  display: block;
  clear: both;
  position: relative;
  left: -15px;
  top: 15px;
  width: 4px;
  height: 4px;
  background: #bbbbbb;
  border-radius: 2px;
}

.franchise_condition dd {
  margin-left: 20px;
}

.franchise_condition p {
  font-size: 14px;
  margin-top: 20px;
}

.franchise_condition img {
  padding: 0 5px 5px 0;
  vertical-align: middle;
}

.franchise_condition_bg {
  box-sizing: border-box;
  background: #fdd32b1b;
  padding: 3% 5%;
  max-width: 1000px;
  margin: auto;
}

/* franchise !!end!!*/


/* 반응형 */
@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
  /* franchise */
  .franchise_wrap {
    text-align: center;
  }

  .franchise_wrap h2 {
    font-size: 35px;
    font-weight: bold;
  }

  .franchise_interview {
    background-color: #fffdf4;
    padding: 5% 15%;
  }

  .interview_bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/franchise/yellow_bg-03.svg);
    opacity: 0.05;
    height: 48%;
    z-index: -3;
  }

  .interview_wrap {
    margin: 50px 0 100px;
  }

  .interview_l {
    position: relative;
    max-width: 1000px;
    height: 320px;
    margin: 0 auto 30px;
  }

  .bubble_l_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .bubble_l_wrap p {
    position: absolute;
    padding: 0 5%;
    box-sizing: border-box;
    width: 75%;
    max-width: 90%;
    word-break: keep-all;
  }

  .bubble_l_wrap>img {
    width: 75%;
  }

  .bubble_l_wrap span {
    width: 100%;
    height: 45px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(../images/logo/compose_logo_emblem_b.svg) right 0/25px no-repeat;
    padding: 0 1% 15px 0;
    box-sizing: border-box;
  }

  .interview_l .store {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180px;
    overflow: hidden;
    border-radius: 110px;
  }

  .interview_l .store img {
    width: 105%;
  }

  .interview_r {
    position: relative;
    max-width: 1000px;
    height: 320px;
    margin: 0 auto 30px;
  }

  .bubble_r_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .bubble_r_wrap p {
    position: absolute;
    padding: 0 5%;
    box-sizing: border-box;
    width: 75%;
    max-width: 90%;
  }

  .bubble_r_wrap>img {
    width: 75%;
  }

  .bubble_r_wrap span {
    width: 100%;
    height: 45px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(../images/logo/compose_logo_emblem_b.svg) right 0/25px no-repeat;
    padding: 0 1% 15px 0;
    box-sizing: border-box;
  }

  .interview_r .store {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
  }

  .interview_r .store img {
    width: 110%;
  }

  .franchise_step {
    max-width: 1000px;
    margin: 5% auto 0;
  }

  .franchise_step_card {
    min-width: 670px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .franchise_step_card dl {
    width: 25%;
    height: 260px;
    margin-bottom: 5%;
    border-radius: 0 40px 40px;
    padding: 20px;
    background: rgba(232, 232, 232, 0.358);
  }

  .franchise_step_card dl:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 260px;
  }

  .franchise_step_card dt span {
    display: block;
    color: #fff;
    font-size: 25px;
    background: #fdd22b;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    line-height: 40px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .franchise_step_card dt {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .franchise_step_card dl:last-child dt {
    font-size: 20px;
    font-weight: bold;
  }

  .franchise_step_card dd {
    font-size: 13px;
    padding-left: 10%;
    text-align: left;
  }

  .franchise_step_card dd::before {
    content: "";
    display: block;
    clear: both;
    position: relative;
    left: -15px;
    top: 15px;
    width: 4px;
    height: 4px;
    background: #bbbbbb;
    border-radius: 2px;
  }

  .franchise_step_card img {
    display: block;
    margin: auto;
    margin-top: 5px;
  }

  .franchise_step_card dl:last-child img {
    margin-top: 10px;
    width: 100%;
  }

  .franchise_condition {
    margin-top: 5%;
  }

  .franchise_condition dl {
    width: 510px;
    display: flex;
    align-items: baseline;
  }

  .franchise_condition dt {
    font-weight: bold;
  }

  .franchise_condition dt:before {
    content: "";
    display: block;
    clear: both;
    position: relative;
    left: -15px;
    top: 15px;
    width: 4px;
    height: 4px;
    background: #bbbbbb;
    border-radius: 2px;
  }

  .franchise_condition dd {
    margin-left: 20px;
  }

  .franchise_condition p {
    font-size: 13px;
    margin-top: 20px;
  }

  .franchise_condition img {
    padding: 0 5px 5px 0;
    vertical-align: middle;
  }

  .franchise_condition_bg {
    box-sizing: border-box;
    background: #fdd32b1b;
    padding: 3% 5%;
    max-width: 1000px;
    margin: auto;
  }

  /* franchise !!end!!*/

}