.quick_main li:first-child {
  border-radius: 10px 10px 0 0;
}
.quick_main li {
  padding: 1rem 15px;
  font-size: 14px;
  background-color: #1d1d1d;
  position: relative;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style: none;
}

.quick_main li::before {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
